h1, h3, div {
  color: #ffffff;
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
}

h1 {
  margin-bottom: 0;
  font-weight: 900
}

h3 {
  margin-top: 0;
  font-weight: 700;
}

.from-now {
  font-weight: 700;
  text-transform: capitalize
}
