div {
  color: #ffffff;
  font-family: KeepCalm, sans-serif;
}

.event {
  margin-bottom: 20px;
}

.past {
  color: #9e9e9e // mat-grey-500;
}

.up-next {
  color: #ffb300; // mat-amber-600;
  font-size: 23px;
}

.summary {
  margin-left: 10px;
  text-align: right;
}
