/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Dispence;
  src: url("assets/Dispence.otf") format("openType");
}

body {
  background: #212121; // mat-blue-grey-700
}