/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: KeepCalm;
  src: url("assets/KeepCalm.ttf") format("truetype");
}

body {
  background: #212121; // mat-blue-grey-700
}